<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Detail</title>
</head>
<body>
    <h1>Edit Article</h1>
    <form action="/editArticle" method="POST">
    <div>
        <label for="articletitle">Article Title</label>
        <input type="text" id="articletitle" name="articletitle" required>

    </div>
    <div>
        <label for="articlecontent">Article Content</label>
        <input type="text" id="articlecontent" name="articlecontent" required>
        
    </div>
    <button type="submit">UPDATE</button>
    </form>
</body>
</html>