<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Top Screen</title>
</head>
<body>
    <h1>TOP SCREEN</h1>
    <button><a href="/createArticle">Create New Article</a></button><!--go to create article screen-->
    
    <button>Edit</button>
    <button>Delete</button>
</body>
</html>
<!--article list here
    <% articles.forEach(=>{ %>
        <p><%=article.title%></p>
        <p><%=article.content%></p>
        <p><%=article.date%></p>
    
       on click article detail screen
        
        <button>Edit</button>
       
        go to edit article screen
        <button>Delete</button>
    <%})%>-->